.header{
    background: var(--bgColor);
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    // padding: 20px 0;
    transition: all 0.3s ease;
    z-index: 999;
    }
    a.navbar-brand img {
        width: 125px;
    }
    
    ul.navbar-nav li a {
        color: #fff;
        font-weight: 600;
        font-size: 16px;
        &:hover {
            color: #716FFF !important;
        }
    }
    .scrolled-nav {
      position: fixed;
      background-color: #202337; // তোমার background
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
      color: #fff;  
    .navbar{
        transition: all 0.3s ease;
        a.navbar-brand img {
            width: 125px;
        }
        ul.navbar-nav li.nav-item a {
            color: #fff !important;
            font-weight: 600;
            font-size: 16px;
        }
        ul.navbar-nav li a:hover {
            color: #716FFF !important;
        }
    }
}


// `md` applies to small devices (landscape phones, less than 768px)
  
@media (max-width: 767px) {
    nav.navbar.navbar-expand-md {
        padding: 0px;
        height: 75px;
    }
    ul.navbar-nav.ms-auto.gap-4 {
    gap: 4px !important;
}
    .navbar-toggler {
        background: #fff !important;
        border: none !important;
        font-size: 16px;
        border-radius: 3px;
    }
    div#navbarNav {
        background: #202337;
        position: absolute;
        width: 93%;
        top: 75px;
        left: -43%;
        text-align: center;
        transform: translate(50%);
        padding: 10px 0px 10px;
        border-radius: 6px;
        z-index: 9999;
      }
    
    
  }

  // `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    nav.navbar.navbar-expand-md {
        padding: 0px;
        height: 75px;
    }
    ul.navbar-nav.ms-auto.gap-4 {
        gap: 4px !important;
    }
    .navbar-toggler {
        background: #fff !important;
        border: none !important;
        font-size: 16px;
        border-radius: 3px;
    }
    div#navbarNav {
        background: #202337;
        position: absolute;
        width: 93%;
        top: 75px;
        left: -43%;
        text-align: center;
        transform: translate(50%);
        padding: 10px 0px 10px;
        border-radius: 6px;
        z-index: 9999;
      }
    
        
}
 

