<div class="hero_area" id="home">
    <div class="container">
        <div class="hero_inner">
            <div class="row">
                <div class="col-md-1">
                    <div class="social_media">
                        <ul>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-github"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="hero_content">
                        <span class="bg_arr"></span>
                        <h2 class="mb-2">Hey Mate 👋🏼</h2>
                        <h1 class="mb-6">I'm Web Developer <br>
                            Md. Fahim Hossen</h1>
                        <p>From Dhaka, Bangladesh. I’m a Front End Web developer who is passionate about making error-free websites. I am good at WordPress. I love to talk with you about your unique.</p>
                        <span class="bg_ee"></span>
                        <span class="bg_line"></span>
                        <div class="hbtn">
                            <a href="#">Hire Me <i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="hero_img">
                        <img src="../../assets/img/Screenshot_1-removebg-preview.png" alt="fahim">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
