// stay in touch start
.stay_in_touch{
    background-color: #1C1A2E;
    .sec_title{
        p{
            color: var(--white);
        }
    }
    .contact_inner {
        width: 760px;
        margin: auto;
        background: repeating-radial-gradient(#0000002e, transparent 100px);
        padding: 20px 45px;
        border-radius: 20px;
        margin-top: 90px;
    }
    
    .form_fleid label {
        color: #fff;
    }
    
    .form_fleid textarea {
        display: block;
        width: 100%;
        border-radius: 5px;
        padding: 5px 10px;
    }
    
    .contact_inner form button {
        width: 100%;
        margin-top: 15px;
        background: linear-gradient(45deg, #6E6FFF, transparent);
        border: none;
        padding: 8px;
    }
    .message {
        text-align: center;
        margin-bottom: 15px;
        /* font-size: ; */
        display: none;
        h3 {
            font-size: 22px;
            color: #454491 !important;
        }
    }
    .form-message {
        padding: 10px 16px;
        border-radius: 6px;
        margin-bottom: 15px;
        font-weight: 600;
        font-size: 15px;
        text-align: center;
        transition: all 0.3s ease-in-out;
        text-transform: capitalize;
      }
      
      .msg-success {
        background-color: #e0f8f2;
        color: #1b9c85;
        border: 1px solid #1b9c85;
      }
      
      .msg-error {
        background-color: #ffe2e2;
        color: #d32f2f;
        border: 1px solid #d32f2f;
      }
      

}

.stay_item {
    background: #202337;
    padding: 30px 0px 20px;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    position: relative;
    overflow: hidden;
    &::after{
        content: "";
        position: absolute;
        background-image: url(../../assets/img/4tringle.png);
        width: 100px;
        height: 100px;
        top: -15px;
        right: -13px;
        transform: rotate(248deg);
        opacity: 0.1;
    }
    i {
        color: #716FEB;
        font-size: 35px;
    }
    h2 {
        color: #fff !important;
        font-size: 20px;
        margin-top: 18px;
    }    
    p {
        color: #fff;
    }
    a {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    display: block;
    padding: 0px 0px 15px;
}

}

// stay in touch end


// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 

    .contact_inner {
        padding: 20px 20px!important;
        width: 560px !important;
    }
    
    .stay_item p {
        font-size: 14px;
    }
  
  }


// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767px) {
    .contact_inner {
        width: 100% !important;
    }
    .stay_item {
        margin-bottom: 40px !important;
    }
}
  // `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
section#contact {
    padding: 0px 0px !important;
}
.stay_touch_inner {
    padding-left: 11px;
    padding-right: 11px;
}
}